@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');

body{
    background-color: #f7ecde;
}
.main h1{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    isolation: isolate
}
.book-form h2{
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 25px !important;
    color: rgb(69,165,90);
    background-image: linear-gradient(90deg, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.main h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;

}
.main h1:hover::after{
    height: 50%;
}
.btn-submit{
    background-color: #D1512D;
    color: white;
    transition: all 0.5s;
}
.btn-submit:hover{
    background-color: #bb4120;
    color: white;
}
.book-form{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

.btn-visit{
    background-color: #9eb23b;
}
.btn-visit:hover{
    background-color: #8a9e23;
}

.input{
    position: relative;
}
#erroricon-name,#erroricon-url{
    color:#dc3545;
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
    font-size: 20px;
}
#trueicon-name,#trueicon-url{
    color:#198754;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 5px;
    display: none;
}
.true-field{
    border-color:#198754;
}
.true-field:focus{
    box-shadow:0 0 0 0.25rem rgba(25, 135, 84, .25);
    border-color:#198754;
}

.false-field{
    border-color:#dc3545;
}
.false-field:focus{
    box-shadow:0 0 0 0.25rem rgba(220, 53, 69, .25);
    border-color:#dc3545;
}